* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
}

#root {
  min-height: 100vh;
  background-color: #628A8E;
}

header > div {
  background-color: #176980;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0px 0px 10px 0px #343434;
  position: relative;
  z-index: 1;
}

header > div h1 {
  text-shadow:0px 0px 10px #fff;
}

header select {
  width: 110px;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
}

#albums {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#albums .card-container {
  width: calc(100% / 4 - 20px);
  perspective: 1000px;
  margin: 20px 10px;
}

#albums .card-container .card {
  width: 100%;
  padding-top: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

#albums .card-container:hover .card {
  transform: rotateY(180deg);
}

#albums .card-container .card .cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#albums .card-container .card .info {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

#albums .card .info .album-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.m-5{
  margin: 5px 0;
}
